@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
}
h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  text-align: center;
}
form {
  background: white;
  padding: 2rem 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
label {
  display: block;
  text-transform: capitalize;
  margin: 1.25rem 0.2rem 0.35rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
label:first-of-type {
  margin-top: 0;
}
input {
  border: 2px solid blueviolet;
  padding: 0.25rem 0.4rem;
  display: block;
}

.btn {
  margin: 1rem 0;
  background-color: blueviolet;
  color: white;
}

article {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
}
